In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('test.db')

In [3]:
c=db.cursor()

In [4]:
c.execute("create table student(text, marks real, batchid int)")

In [6]:
ls

 Volume in drive C is OS
 Volume Serial Number is E4E7-041A

 Directory of C:\Users\DELL

13-12-2022  20:29         2,461,386  Quora Question Pairs.ipynb
19-01-2023  09:37    <DIR>          .
26-12-2021  21:12    <DIR>          ..
15-09-2020  10:47    <DIR>          .android
18-01-2023  02:32    <DIR>          .conda
10-10-2021  13:44                25 .condarc
24-07-2020  13:52    <DIR>          .config
10-10-2021  13:43    <DIR>          .continuum
24-07-2020  13:52    <DIR>          .eclipse
15-01-2022  23:33                64 .gitconfig
15-09-2020  10:25    <DIR>          .idlerc
19-01-2023  09:37    <DIR>          .ipynb_checkpoints
10-10-2021  13:59    <DIR>          .ipython
11-10-2021  22:13    <DIR>          .jupyter
02-10-2021  21:48    <DIR>          .keras
23-06-2022  00:03                20 .lesshst
25-06-2022  11:47    <DIR>          .matplotlib
28-12-2021  12:25    <DIR>          .p2
04-09-2022  11:56                29 .python_history
07-11-2022  01:46    <DIR>          .spyder-py3
24-07-2020  13:52    <DIR>          .tooling
19-05-2021  14:52    <DIR>          .vscode
10-08-2020  00:08    <DIR>          3D Objects
04-01-2023  16:39    <DIR>          anaconda3
28-07-2020  21:47    <DIR>          ansel
10-12-2021  01:12    <DIR>          AppMods
26-12-2021  21:23    <DIR>          Contacts
13-01-2023  21:57    <DIR>          Desktop
05-10-2022  18:59        76,503,650 df_fe_without_preprocessing_train.csv
23-08-2022  15:43    <DIR>          Documents
18-01-2023  23:09    <DIR>          Downloads
24-07-2020  13:50    <DIR>          eclipse
24-07-2020  13:54    <DIR>          eclipse-workspace
26-12-2021  21:23    <DIR>          Favorites
15-01-2023  13:44            11,903 glass (1).data
15-01-2023  13:54            11,903 glass.data
11-09-2021  21:13    <DIR>          har
17-09-2020  11:56    <DIR>          IdeaProjects
07-09-2022  01:46    <DIR>          Jedi
26-12-2021  21:23    <DIR>          Links
06-09-2022  23:33    <DIR>          ML Projects
18-01-2023  01:45            17,324 Mongodb Introduction.ipynb
28-12-2022  18:55    <DIR>          Music
16-10-2022  12:34       120,274,028 nlp_features_train.csv
15-01-2022  10:44    <DIR>          OneDrive
04-01-2023  16:48         1,035,574 output.html
15-12-2022  14:01            21,234 Personalized Cancer Diagnosis.ipynb
26-12-2021  21:23    <DIR>          Pictures
06-09-2022  23:51    <DIR>          PycharmProjects
18-06-2022  11:10    <DIR>          python pratice programs
17-01-2022  20:47    <DIR>          Python3.8
07-09-2022  14:05    <DIR>          pythonProject
14-01-2023  19:27    <DIR>          pythonProject1
25-01-2022  12:34                27 README.md
10-12-2021  01:12    <DIR>          Recorded Calls
26-12-2021  21:23    <DIR>          Saved Games
04-01-2023  16:55    <DIR>          seaborn-data
26-12-2021  21:23    <DIR>          Searches
15-01-2023  21:08            55,610 SQL Part 2.ipynb
15-01-2023  19:52           102,444 SQL Part1.ipynb
19-01-2023  09:37             6,181 SQLite.ipynb
19-01-2023  09:37             8,192 test.db
29-09-2022  01:44        63,399,110 train.csv
13-12-2022  17:51        33,704,946 train_n.txt
13-12-2022  17:51        16,408,412 train_p.txt
13-12-2022  21:03       212,125,752 training_text
13-12-2022  21:05            66,688 training_variants
17-01-2023  23:08            64,837 Untitled.ipynb
17-01-2023  23:12             1,104 Untitled2.ipynb
25-07-2022  21:55    <DIR>          Videos
10-12-2021  01:08    <DIR>          wekafiles
              24 File(s)    526,280,443 bytes
              47 Dir(s)  33,489,555,456 bytes free

In [7]:
c.execute("insert into student values('vanya', 34, 34353)")

In [13]:
data=c.execute("select * from student")

In [14]:
for i in data:
    print(i)

('vanya', 34.0, 34353)

In [15]:
db.commit()

In [17]:
c.execute("insert into student values('vanya', 34, 34353)")
c.execute("insert into student values('vanya', 34, 34353)")
c.execute("insert into student values('vanya', 34, 34353)")
c.execute("insert into student values('vanya', 34, 34353)")
c.execute("insert into student values('vanya', 34, 34353)")
c.execute("insert into student values('vanya', 34, 34353)")

In [21]:
data1=c.execute("select * from student where marks>33")

In [22]:
for i in data1:
    print(i)

('vanya', 34.0, 34353)
('vanya', 34.0, 34353)
('vanya', 34.0, 34353)
('vanya', 34.0, 34353)
('vanya', 34.0, 34353)
('vanya', 34.0, 34353)
('vanya', 34.0, 34353)
('vanya', 34.0, 34353)

In [24]:
data2=c.execute('select text, marks from student order by marks')

In [25]:
for i in data2:
    print(i)

('vanya', 34.0)
('vanya', 34.0)
('vanya', 34.0)
('vanya', 34.0)
('vanya', 34.0)
('vanya', 34.0)
('vanya', 34.0)
('vanya', 34.0)

In [26]:
db.close()

In [27]:
db=sqlite3.connect('person.db')

In [28]:
c=db.cursor()

In [29]:
c.execute("create table person_table(name, emailid text, age int, salary real)")

In [30]:
c.execute("insert into person_table values('vanya', 'vanyaagarwal29@gmil.com', 23, 234455)")
c.execute("insert into person_table values('prashan', 'prashangarwal29@gmil.com', 45, 23445578)")
c.execute("insert into person_table values('milli', 'milliarwal29@gmil.com', 27, 344557)")
c.execute("insert into person_table values('tanni', 'tanniagarwal29@gmil.com', 25, 77234455)")

In [31]:
db.commit()

In [32]:
db.close()

In [33]:
db=sqlite3.connect('test.db')

In [34]:
c=db.cursor()

In [35]:
c.execute('drop table student')

In [36]:
c.execute("select * from student")

OperationalError: no such table: student

In [37]:
db.close()

In [38]:
db=sqlite3.connect('person.db')
c=db.cursor()

In [39]:
db.close()

In [40]:
db=sqlite3.connect('jobdb.db')

In [43]:
c=db.cursor()
c.execute('create table student(student_id int, student_name text, marks int, student_mailid text)')

In [45]:
c.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

OperationalError: table address already exists

In [46]:
c.execute('drop table address')

In [47]:
c.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

In [48]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [49]:
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [50]:
for i in c.execute("select * from address" ):
    print(i)

(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [53]:
for i in c.execute("select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null"):
    print(i)

(236, 'sudhashu', 'sudhanshu@ineuron.ai', '234', 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', '234', 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', '234', 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', '234', 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', '234', 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', '234', 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [54]:
for i in c.execute("select * from address a left join student s on a.student_id=s.student_id "):
    print(i)

(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [55]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(235, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(236, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(237, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(238, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(239, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', '234')

In [59]:
c.execute('delete from student where student_id>2000')

In [60]:
for i in c.execute('select * from student'):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(235, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(236, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(237, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(238, 'sudhashu', 'sudhanshu@ineuron.ai', '234')
(239, 'sudhashu', 'sudhanshu@ineuron.ai', '234')

In [61]:
c.execute('update student set student_id = 1000 where student_id=236')

In [62]:
data=c.execute('select * from student')
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', '234'),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', '234'),
 (1000, 'sudhashu', 'sudhanshu@ineuron.ai', '234'),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', '234'),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', '234'),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', '234')]

In [63]:
db.close()

In [64]:
l=[1,2,3,4,5,6]

In [66]:
l1=[]
for i in l:
    l1.append(i+5)

In [67]:
l1

[6, 7, 8, 9, 10, 11]

In [68]:
def test(a):
    return a+5
list(map(test,l))

[6, 7, 8, 9, 10, 11]

In [71]:
l1=['234','6','90']

In [72]:
list(map(lambda x: int(x),l1))

[234, 6, 90]

In [ ]:
l=[2,3,4,5,6,7,8]

In [74]:
def test1(a):
    if(a%2==0):
        return a
list(filter(test1,l))

[2, 4, 6]

In [75]:
from functools import reduce

In [76]:
def test2(a,b):
     return a+b

reduce(test2,l)
#reduce takes 1 or 2 arguments only not more than that

21

In [78]:
l=[3]
reduce(test2,l)

3

In [79]:
l=[1,2,3,4]
l1=[5,6,7,8]
list(zip(l,l1))

[(1, 5), (2, 6), (3, 7), (4, 8)]